html {
    height: 100%;
}
body{
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    width: 100%;
   
}
header h1{
    color: #F95556;
    font-family: 'Yantramanav', sans-serif;
}
/* navbar */
.HD {
    padding: 1rem 1rem 0rem 1rem;
    border-bottom: 1px solid #DDD9DA;
    
    
}
.bord{
    border-right: 1px solid #DDD9DA;
}
.col-lg-2{
    text-align: center;
}
/* categotiria */
.relativ{
    position: relative;
}
.cat{
    display: flex;
    justify-content: left;
}
.ecoomerce{
    height: 100%;
    display: flex;
}
.left-panel{
    min-width: 28%;
    overflow-y: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    display: none;
}
.commerce{
    display: flex;
    height: 100%;
    width: 100%;
}
.stock{
    display: inline-block;
}
.input-group-one {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}
.shooping{
    width: 100%;
}

.card{
    min-height: 400px;
    margin: 0.5rem;

}
.conteiner-img{
    border-bottom: #949494;
}
.conteiner-img{
    padding: 1rem;
}
/* BOTONES DE COMPRA */
.card-body button{
    align-items: center;
    padding: auto;
    background-color: #F95556;
    border: none;
    width: 40px;
    border-radius: 100%;
    margin: 0.1rem;
}
.card-body button:hover{
    background-color: #ff0000;
}
