html {
    height: 100%;
}
body{
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    width: 100%;
   
}
header h1{
    color: #F95556;
    font-family: 'Yantramanav', sans-serif;
}
/* navbar */
.HD {
    padding: 1rem 1rem 0rem 1rem;
    border-bottom: 1px solid #DDD9DA;    
}

.bord{
    border-right: 1px solid #DDD9DA;
}
.col-lg-2{
    text-align: center;
}
/* categotiria */
.relativ{
    position: relative;
}
.cat{
    display: flex;
    justify-content: left;
}
.ecoomerce{
    height: 100%;
    display: flex;
}
.left-panel{
    min-width: 28%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.commerce{
    display: flex;
    height: 100%;
    width: 100%;
}
.stock{
    display: inline-block;
}
.input-group-one {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}
.shooping{
    width: 100%;
}

.card{
    min-height: 400px;
    margin: 0.5rem;
}
.conteiner-img{
    border-bottom: #949494;
}
.conteiner-img{
    padding: 1rem;
}
.card-body button{
    justify-items: center;
    background-color: #F95556;
    border: none;
    border-radius: 50%;
}
.card-body button:hover{
    background-color: #ff0000;
}

.producto{
    display: block;
    width: 20%;
    border: 0.5px solid rgb(212, 212, 212);
    border-radius: 4px;
    justify-content: center;
    padding: 20px;
    text-align: center;
    margin-bottom: 30px;
    margin: 20px;
}

#contenedor-productos{
    max-width: 80%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 0;
  }

  .subtitulo-catalogo{
      text-align: center;
      padding-top: 40px;
      font-weight: 600;
      color: #F95556;
      margin-bottom: -30px;
  }